* {
    scrollbar-width: auto;
    scrollbar-color: #060a14 #ffffff;
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
    background-color: #060a14;
}

.active {
    color: #800bc4;
    font-weight: bold;
}
